body {
  background-image: url('./image.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  position: relative;
}

header {
  padding: 20px;
  background-color: #f0f0f0;
}

header h1 {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  color: #ff6600;
  font-size: 36px;
  margin-bottom: 20px;
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.button-container a {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-container a:hover {
  background-color: #0056b3;
}


form {

  margin: 0 auto;
  width: 30%;
  padding: 20px;
  background-color: #0056b3;
  border-radius: 10px;
}

.page-content {
  padding-top: 50px;
  padding-bottom: 20px;
}

.form-container {
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 20px;
}

.footer-text {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #0B2E3C;
  font-size: 50px;/
}

.highlight {
  color: #FF4500;
  /* Change the color to the desired highlight color */
  font-weight: bold;
  font-size: 45px;
  /* Adjust the font size as needed */
}

.guidelines p {
  font-weight: bold;
  font-size: 25px;
}